.sidebar {
  flex-grow: 1;
  overflow-y: auto;
}

.btn {
  padding: 10px;
  margin: 20px;
  border: 2px solid black;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
